<div
  class="w-[100%] bg-background fixed px-[8rem] py-[2rem] flex flex-row items-center text-mint-white-500">
  <ng-content select="[bannerName]"></ng-content>

  <span class="flex flex-1"></span>
  <div class="flex flex-row gap-x-[2rem]">
    <div class="navbar-btn-container">
      <button>Home</button>
    </div>
    <div class="navbar-btn-container">
      <button>About</button>
    </div>
    <div class="navbar-btn-container">
      <button>Projects</button>
    </div>
    <div class="navbar-btn-container">
      <button>Contact</button>
    </div>
  </div>
</div>
