<div
  class="h-[100dvh] w-[100%] home-container flex flex-row items-center text-mint-white-500"
>
  <div class="self-center flex flex-1 flex-col gap-y-[4rem]">
    <div class="flex flex-col gap-y-[2rem]">
      <p class="text-5xl font-bold italic">
        Hello<span class="text-mint-accent-500">.</span>
      </p>
      <p class="text-4xl font-light">{{ name() }}</p>
      <p class="text-4xl font-bold">{{ profession() }}</p>
    </div>
    <div class="flex flex-row gap-x-[1rem]">
      <button class="btn-primary">Get in touch</button>
      <button class="btn-outline">My resume</button>
    </div>
  </div>
  <div class="self-center flex flex-1"></div>
</div>
