<div
  id="experiences"
  class="w-full h-screen m-auto py-[75px] text-mint-white-500"
>
  <h1 class="text-4xl font-bold text-center py-8">Experiences</h1>
  <ol class="experience-item w-full flex flex-col">
    <li class="w-full flex flex-row">
      <div class="w-full flex flex-col md:flex-row">
        <div
          class="w-full hidden flex-col pl-8 border-l-2 border-stone-100 md:pl-0 md:border-l-0 md:border-stone-50 md:w-[50%] md:flex"
        >
          <h1 class="text-2xl font-bold w-[90%]">Accenture Philippines Inc.</h1>
          <h3 class="py-2 md:text-sm">June 2023 - Present</h3>
        </div>
        <div
          class="bullet absolute left-8 translate-x-[calc(-50%+1px)] translate-y-[5px] bg-[#009688] rounded-[50%] w-[20px] h-[20px] md:left-[50%]"
        ></div>
        <div
          class="w-full flex flex-col pl-8 border-l-2 border-stone-300 md:w-[50%]"
        >
          <div class="w-full flex flex-col">
            <h1 class="text-2xl font-bold md:block hidden">
              Software Engineer - Angular Developer - Specialist
            </h1>
            <h1 class="text-2xl font-bold md:hidden">
              Accenture Philippines Inc.
            </h1>
            <h1 class="text-xl font-bold md:hidden">
              Software Engineer - Angular Developer - Specialist
            </h1>
            <h3 class="py-2 md:hidden">June 2018 - June 2023</h3>
            <h3 class="py-2"></h3>
            <h3 class="pb-2 font-bold">Project 2</h3>
            <h3 class="pb-2 font-bold">Responsibilities</h3>
            <ul class="pb-4 leading-[2rem]" style="list-style-type: disc">
              <li>
                Developed and owned Angular feature modules for the application
              </li>
              <li>
                Implemented a custom Angular template directive that cut module
                development time by ~ 70% reducing work from several weeks to
                under a week
              </li>
              <li>Created unit tests for components using Karma and Jasmine</li>
              <li>
                Mentored a junior developer through best practices and code
                standards
              </li>
              <li>
                Conducted peer-to-peer code reviews to ensure high quality
                deliverables
              </li>
              <li>
                Collaborated with the client to ensure clear and timely
                deliverables
              </li>
            </ul>
            <h3 class="pb-2 font-bold">Techstack</h3>
            <ul class="pb-8 leading-[2rem]" style="list-style-type: disc">
              <li>Angular+ (v16 typescript)</li>
              <li>Karma & Jasmine</li>
              <li>GIT</li>
            </ul>

            <h3 class="pb-2 font-bold">Project 1</h3>
            <h3 class="pb-2 font-bold">Responsibilities</h3>
            <ul class="pb-4 leading-[2rem]" style="list-style-type: disc">
              <li>
                Built form pages using Vanilla JavaScript and Adobe Experience
                Manager (AEM)
              </li>
              <li>
                Worked directly with the client to clarify requirements and
                deliver solutions
              </li>
            </ul>
            <h3 class="pb-2 font-bold">Techstack</h3>
            <ul class="pb-8 leading-[2rem]" style="list-style-type: disc">
              <li>Vanilla Javascript</li>
              <li>Adobe Express Manager (AEM)</li>
              <li>GIT</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="w-full flex flex-row">
      <div class="w-full flex flex-col md:flex-row">
        <div
          class="w-full hidden flex-col pl-8 border-l-2 border-stone-100 md:pl-0 md:border-l-0 md:border-stone-50 md:w-[50%] md:flex"
        >
          <h1 class="text-2xl font-bold w-[90%]">
            MPM Consulting Services Inc.
          </h1>
          <h3 class="py-2 md:text-sm">June 2018 - June 2023</h3>
        </div>
        <div
          class="bullet absolute left-8 translate-x-[calc(-50%+1px)] translate-y-[5px] bg-[#009688] rounded-[50%] w-[20px] h-[20px] md:left-[50%]"
        ></div>
        <div
          class="w-full flex flex-col pl-8 border-l-2 border-stone-300 md:w-[50%]"
        >
          <div class="w-full flex flex-col">
            <h1 class="text-2xl font-bold md:block hidden">
              Fullstack Developer
            </h1>
            <h1 class="text-2xl font-bold md:hidden">
              MPM Consulting Services Inc.
            </h1>
            <h1 class="text-xl font-bold md:hidden">Fullstack Developer</h1>
            <h3 class="py-2 md:hidden">June 2018 - June 2023</h3>
            <h3 class="py-2"></h3>
            <h3 class="pb-2 font-bold">Responsibilities</h3>
            <ul class="pb-4 leading-[2rem]" style="list-style-type: disc">
              <li>
                Assisted in migrating the company’s desktop software into a
                modern web application
              </li>
              <li>
                Built, maintained, and optimized Angular-based UI projects
              </li>
              <li>
                Built, maintained, and optimized backend apis for the web
                application
              </li>
              <li>Implemented designs using Angular Material</li>
              <li>
                Developed features for generating downloadable files such as PDF
                and Excel
              </li>
              <li>Performed end-to-end testing using Playwright</li>
              <li>Tested API services using xUnit</li>
              <li>
                Collaborated on a project focused on computation and automation
                processes for the company
              </li>
            </ul>
            <h3 class="pb-2 font-bold">Techstack</h3>
            <ul class="pb-8 leading-[2rem]" style="list-style-type: disc">
              <li>.Net (C#)</li>
              <li>Typescript</li>
              <li>Angular+ (typescript)</li>
              <li>SCSS</li>
              <li>Basic SQL</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
